* {
    padding: 0;
    margin: 0;
}

u {
    cursor: pointer;
}

a {
    text-decoration: none;
    outline-style: none;
    color: inherit;
}



/********                  FOOTER             ********/
footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:repeat(4, 1fr);
    margin-top: 5vh;
    padding: 2vh;
    /* border: red 1px solid; */
    color: rgb(90, 86, 86);
}
footer .empresa{
    grid-column: 1/2;
    
}
footer .rede{
    grid-column: 2/3;
    
}

footer .social{
    grid-column: 3/-1;
    
}

footer .copy{
    border-top: black solid 1px;
    padding-top: 1vh;
    grid-column: 1/-1;
    grid-row: 2/-1; 
    /* border: red 1px solid;  */
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
}
footer h3{
    padding: 1vh 2vw; 
    color: black;
    
}
footer li{
    padding: 2vh;
    list-style: none;
}
footer section{
    margin-top: 1vh;
}
footer .termos a{
    padding: 1vh;
}
footer a:hover{
    color: black
}
footer img{
    width: 20vw;
    grid-column: 1/2;
    /* border:red solid 1px; */
}
.copy .direitos{
    grid-column: 2/3;
    padding: 0 2vw;
    /* border:red solid 1px; */
}
.copy .termos{
    grid-column:3/-1;
    /* border:red solid 1px; */
} 
 
/*             ícones     */
.social #face{
    width: 3vw;
}
.social #insta{
    width: 4vw;
}
.social #twitter{
    width: 4vw;
}




/** RESPONSIVIDADE DO FOOTER **/


@media only screen and (max-width: 600px) {
    footer {
        
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        /* padding: 0; */
        justify-items: center;
        align-items: center;

    }
    footer a{
        text-align: center;
    }
    footer .empresa{
        grid-row: 1/2;
        grid-column: 1/2;
        /* border:red solid 1px; */
        
    }
    footer .rede{
        grid-row: 2/3;
        grid-column: 1/2;    
        /* border:red solid 1px;     */
    }
    
    footer .social{
        grid-row: 3/4;
        grid-column: 1/2; 
        /* border:red solid 1px; */
    }
    footer h3{
        text-align: center;
    }
    footer .copy{
        padding-top: 5vh;
        grid-row: 4/-1; 
        grid-column: 1/2;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        
        align-items: center;
        
    }
    footer .img-footer{
        padding: 0;
        grid-row: 1/2;
        grid-column: 1/2;
        width: 5vw;
        /* margin: 0; */
        /* border:red solid 1px; */
    }
    footer img{
        width: 25vw;
        
        /* border:red solid 1px; */
    }

    .copy .direitos{
        grid-row: 1/2;
        grid-column: 2/-1;
        /* padding: 0; */
        /* margin: 0; */
        /* border:red solid 1px; */
    }
    .copy .termos{
        /* padding: 0; */
        /* margin: 0; */
        grid-row:2/-1;
        grid-column: 1/-1;
        /* border:red solid 1px; */
    } 
    .termos p{
        text-align: center;
        padding: 0 10vw;
    }
}