
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
}

/* HEAD  */
header{
    width: 100%;
}

.cabecalho-nav{
    display: flex;
    position: relative;
    width: 100%;
    height: 16vh;
    justify-content: space-between;
    background-color: lightgrey;
    align-items: center;
    letter-spacing: 1px;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 1px #333333;
    box-shadow: 3px 3px 3px #333333; 
    -moz-box-shadow: 1px 1px 1px #333333;
    
}

.logo-nav{
    height: 22vh;
}

.conteudo-nav{
    display: flex;
    
}

.flex-nav{
    display: flex;
}

.flex-nav a{
    text-decoration: none;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    border-bottom: 1px solid transparent;
    color: black;
}

.flex-nav a:hover{
    border-bottom: 1px solid black;
}

.sections{
    display: grid;
    background-image: url(./img/backsearch.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 86vh;
    width: 100%;
    height: 86vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.segundo-header{
    display: grid;
    grid-row: 2/4;
    grid-column: 1 / 4;
    margin: 0 auto;
    color:white;
    font-size: 20px;
    padding: 10vw;
    text-align: center;
}

.pesquisa{
    display: grid;
    grid-row: 1/3;
    grid-column: 2 / 3;
    margin: 0 auto;
    color:white;
    font-size: 20px;
   padding: 15vw;
    text-align: center;
}
.busca{
    background-image: url('img/searchicon.png'); 
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-top: 20px;
    height:40px;
    width: 50vw; 
}

#spansearch{
    color: whitesmoke;
    text-shadow: blue;
    display: flex;
    justify-content: space-between;
    margin:5px;
    margin-right: 10%;
}
.btn-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    padding: 1vh 1vw;
    margin-left: 50.5vw;
    margin-right: -4vh;
    margin-top: -5vh;
    margin-bottom:0 ;
  
}

body {
    background-color: lightgrey;
    width: 100%; 
}

.produto h2,
.depoimento h2{
    display: block;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: #333333;
    letter-spacing: 0.1vw;
    -moz-box-shadow:    0.1vw 0.1vw 0.1vw #333333;
    box-shadow:         0.1vw 0.1vw 0.1vw #333333;
    -webkit-box-shadow: 0.1vw 0.1vw 0.1vw #333333;
}



.depoimento {
    height: 98vh;
    width: 100%;
    display: block;
}

.depoimento-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.fotos {
    width: 10vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.keanu{
    display: block;
    width: 30%;

}

.keanu img{
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    width: 85%;
}

.produto{
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 500px;
    background-color: lightgrey;
}


.produto-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding-top: 25px ;
    border-radius: 50px;
}

.promocao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
    padding: 20px;
    width: 25%;
    -webkit-box-shadow: 5px 5px 5px black;
    -moz-box-shadow:    5px 5px 5px black;
    box-shadow:         5px 5px 5px black;
}

.promocao p{
    text-transform: capitalize;
    font-size: 1em;
    font-weight: bold;
    color: black;
    margin-top: 15px;
    border-radius: 50px;
    padding: 10px;
}

.promocao img{
    display: inline-flex;
    height: 170px;
    width: 240px;
}

.contato {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 10vh;
    align-items: center;
    margin-bottom: 0;
    font-weight: bold;
}


a{
    text-decoration: none;
}

.btn-contato{
    display: flex;
    color:white;
    width: 4vw;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 1vw;
    padding: 2vh 5vw;
    margin-left: 48vw;
    margin-right: 48vw;
    margin-top: -13.5vh;
}

.contato h1{
    font-size: 22px;
}

.btn-contato:hover{
    background-color: white;
    color: black;
}

/********** FOOTER ************/

.footer{
    background-color:black;
    color:white;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding: 0vh 5vw 2vh 5vw;
    /* border: red solid 1px; */
    
}

.footer .redes-sociais{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    letter-spacing: 0.1vw;    
    padding-left: 1vw;
    font-size: 14px;
    /* border: red solid 1px; */
    justify-items: center;
}
.footer .redes{
    align-content: center;
    
}
.redes-sociais a:hover{
    border-bottom: rgb(77, 66, 5) 1px solid ;
}
.redes-sociais #face{
    width: 5vw;
}
.redes-sociais #insta{
    width: 5vw;
}
.redes-sociais #twitter{
    width: 5vw;
}
.redes-sociais #youtube{
    /* width: 5vw; */
    height: 5vw;
}
.redes-sociais p{
    text-align: center;
    /* padding-bottom: 25px; */
}
.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
}
.corporativo li{
    list-style: none;
    padding: 1vh;
}
.corporativo a{
    text-decoration: none;
    color: white;
}
.corporativo a:hover{
    text-decoration: none;
    color:rgb(77, 66, 5);
}
.corporativo h3{
    padding: 1vh;
}
/************ RESPONSIVO ****************/

@media screen and (min-device-width: 385px) and (max-device-width:420px){
    header{
    width: 100vw;

    }    

    .cabecalho-nav{
        display: flex;
        width: 100%;
        height: 15vh;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        -webkit-box-shadow: 1px 1px 1px #333333;
        -moz-box-shadow:    1px 1px 1px #333333;
        box-shadow:         3px 3px 3px #333333;
        position: relative;
    }
        
    .logo-nav{
        width: 25vw;
        height: 15vh;
        border-radius: 30px;
    }
    .conteudo-nav{
        display: flex;
    }
        
    .flex-nav{
        display: flex;
    }
        
    .flex-nav a{
        text-decoration: none;
        text-align: center;
        margin-left: 5vw;
        margin-right: 5vw;
        border-bottom: 1px solid transparent;
        color: black;
    }

    .flex-nav a:hover{
        border-bottom: 1px solid black;
    }

      /* Footer responsivo*/
      .footer{
        height: 50vh;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        padding: 0vh 5vw 5vh 5vw;
        /* border: red solid 1px; */
    }
    

    .footer div{
        padding: 2vh;
    }
    .copy p{
        text-align: center;
    }
    .footer h3, .footer li{
        text-align: center;
    }
        
    .redes-sociais a:hover{
        border-bottom: rgb(77, 66, 5) 1px solid ;
    }
    .redes-sociais #face{
        width: 10vw;
    }
    .redes-sociais #insta{
        width: 10vw;
    }
    .redes-sociais #twitter{
        width: 10vw;
    }
    .redes-sociais #youtube{
        /* width: 5vw; */
        height: 10vw;
    }

}







@media screen and (min-device-width : 310px) and (max-device-width : 420px) {
        .cabecalho-nav{
            letter-spacing: 0px;
            padding: 0;
            height: 12vh;
            justify-content: center;
        }
       .logo-nav {
            height: 22vh;
            padding: 1vh 1vw;
            margin-top: 1vh;
            margin-left: -3vh;
        }
        .sections {
            display: flex;
            background-image: url(./img/backsearch.jpg);
            background-position: inherit;
            background-size: cover;
            height:45vh;
      
        }
        .pesquisa{
            color:white;
            font-size: 20px;
            padding: 0vw;
            text-align: center;
            width: 100vw;
            height: 40vh;

        }
       

        .segundo-header {
            display: none;
        }

        .produto h2, .depoimento h2 {
            font-size: 1em;
            padding: 15px;
        }

        .depoimento {
            display: block;
            height: 100%;
        }

        .depoimento-flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .keanu img {
            width: 30vw;
            height: 10vh;
        }

        .produto {
            height: 100%;
        }

        .produto-flex {
            flex-direction: column;
            margin: 0px;
            padding: 1vh;
            width: 100%;
            margin-bottom:3vh ;
        }
        .promocao {
            width: 90%;
            margin-bottom:3vh ;
        }
    
        .promocao img {
            display: inline-flex;
            height: 8vh;
            width: auto;
        }
    

        .contato {
            height: 9vh;
        }
        .contato h1 {
            font-size: 15px;
        }
        .footer {
            height: 15vh;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .footer p {
            padding-top: 10px;
            font-size: 13px;
        }
 
        .pesquisa{
            display: grid;
            color:white;
            font-size: 20px;
            margin:auto;
            padding: 10vw;
            text-align: center;
            justify-content: space-between;           
        }

        /* section 1 pesquisa/header */
        .busca{
            background-image: url(img/searchicon.png);
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            margin-top: 20px;
            margin: 1vh 5vh 1vh 5vh;
            height: 40px;
            width: 63vw; 
          }
        
        #spansearch{
            margin-top: 6vh;
            color: whitesmoke;
            text-shadow: blue;
            display: flex;
            font-size: 18px;         
        }
        .btn-pesquisa{
            display: none;   
        }
    /* section depoimentos */
        .keanu{
            display: block;
            width: 75%;
            margin: 10vw;
            text-align: center;
        }
    /* promoção */

    .btn-contato{
        display: flex;
        color:white;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 1vh 8vw;
        border-radius: 2vw;
        margin-left: 45vw;
        margin-right: 45vw;
        margin-top: -10vh;  
    
    }
    
      /* Footer responsivo*/
      .footer{
        height: 50vh;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        padding: 0vh 5vw 5vh 5vw;
        /* border: red solid 1px; */
    }
    

    .footer div{
        padding: 2vh;
    }
    .copy p{
        text-align: center;
    }
    .footer h3, .footer li{
        text-align: center;
    }
        
    .redes-sociais a:hover{
        border-bottom: rgb(77, 66, 5) 1px solid ;
    }
    .redes-sociais #face{
        width: 10vw;
    }
    .redes-sociais #insta{
        width: 10vw;
    }
    .redes-sociais #twitter{
        width: 10vw;
    }
    .redes-sociais #youtube{
        /* width: 5vw; */
        height: 10vw;
    }

}

@media only screen and (max-width: 768px) {
     /* Footer responsivo*/
     .footer{
        height: 60vh;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        padding: 0vh 5vw 5vh 5vw;
        /* border: red solid 1px; */
    }
    

    .footer div{
        padding: 2vh;
    }
    .copy p{
        text-align: center;
    }
    .footer h3, .footer li{
        text-align: center;
    }
        
    .redes-sociais a:hover{
        border-bottom: rgb(77, 66, 5) 1px solid ;
    }
    .redes-sociais #face{
        width: 10vw;
    }
    .redes-sociais #insta{
        width: 10vw;
    }
    .redes-sociais #twitter{
        width: 10vw;
    }
    .redes-sociais #youtube{
        /* width: 5vw; */
        height: 10vw;
    }   
}